.custom-yellow-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    height: 2.5rem;
    padding: 0.25rem 0.75rem;
    background-color: #eab308;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.375rem;
    margin-left: 8px;
    border: none;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}


.custom-yellow-btn:hover {
    background-color: #ca8a04;
    color: #ffffff;
}

.dash-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    height: 2.5rem;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    font-weight: 600;

    color: #ffffff !important;
    background-color: transparent;
    border: none;
    border-radius: 0.375rem;

    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.dash-btn:hover{
    background-color: #e5e7eb;
    color: #1d4ed8 !important;
}

.dash-btn a{
    color: inherit;
    text-decoration: none;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
}

.link:hover{
    color: white !important;
    text-decoration: underline !important;
}

.navbar {
    width: 100%;
    height: 80px !important;
    background: linear-gradient(to left, #667eea 0%, #764ba2 100%);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0;
}
.nav-title {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}
.nav-link {
    color: white !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
.nav-link:active {
    background-color: red;
    color: black;
}

@media (max-width: 768px) {
    .navbar-brand{
        font-size: 1.5rem !important;
    }
    .navbar{
        height: max-content;
    }
}
