<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Manage Committee </title>
    <link rel="stylesheet" th:href="@{/lib/fontawesome/css/all.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/navbar.css}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f9f9f9;
            padding-top: 120px;
            margin: 0;
            color: #333;
            min-height: 100vh;
        }

        .main-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;
            padding: 0 30px 20px;
            justify-content: flex-start;
            align-items: flex-start;
        }

        #courses, #third-examination{
            padding: 0 30px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
        }
        .course-table{
            width: 100%;
        }

        #card {
            flex: 0 0 450px;
            background: white;
            padding: 0 15px 15px;
            box-shadow: 0 6px 18px rgba(0,0,0,0.1);
            overflow: hidden;
            margin-right: 50px;
        }

        .actions {
            flex: 1;
        }

        .action-box {
            background: white;
            border-radius: 8px;
            box-shadow: 0 6px 18px rgba(0,0,0,0.1);
            height: 100%;
            padding-bottom: 15px;
        }

        #sem-info {
            text-align: left;
            padding: 15px;
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
            color: white;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        @media (max-width: 768px) {
            .main-container { flex-direction: column; }
            #card { flex: 1 1 100%; width: 100%; }
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top" style="background: linear-gradient(to left, #667eea 0%, #764ba2 100%);">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="/home">Academics Automation Software</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="dash-btn" > <a href="/home" style="text-decoration: none">Home</a></button>
                </li>
                <li class="nav-item">
                    <button id="dash-btn" class="dash-btn"><a href="/dashboard" style="text-decoration: none">Dashboard</a></button>
                </li>
                <li class="nav-item">
                    <button class="custom-yellow-btn" onclick="logout()">Logout</button>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="main-container" id="main-container">
    <div class="action" id="card">
        <span style="text-align: center; display: inline-block; font-weight: bold; font-size: 16px; background-color: rebeccapurple; color: white; width: 100%; padding: 10px">Committee Body</span>

        <div id="sem-info"> </div>

        <table border="1" th:object="${committee}">
            <thead>
            <tr>
                <th>Members</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody id="course-table-body">
            <tr>
                <td data-label="Member" th:text="${committee.chairman.getName()}"></td>
                <td data-label="Role"> Chairman</td>
            </tr>
            <tr>
                <td data-label="Member" th:text="${committee.internalMember1.getName()}"></td>
                <td data-label="Role"> Internal </td>
            </tr>
            <tr>
                <td data-label="Member" th:text="${committee.internalMember2.getName()}"></td>
                <td data-label="Role"> Internal </td>
            </tr>
            </tbody>
        </table>

        <div class="btn d-flex justify-content-center">
            <a class="btn btn-outline-primary w-50 my-4" th:href="@{'/print/committee/' + ${committee.committeeId}}">Print Committee</a>
        </div>

       <div class="d-flex justify-content-center mb-5">
           <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#activitiesModal">Committee Activities</button>
       </div>


        <div class="d-flex align-items-center gap-2" style="margin-bottom: 20px; font-size: 1.25rem;">
            <span style="font-weight: 500;">Result Status: </span>

            <span id="result-status" class="badge" th:text="${resultStatus} ? 'Published' : 'Not Published'"
                  th:classappend="${resultStatus} ? 'bg-success' : 'bg-warning text-dark'"
                  style="font-size: 0.75em; padding: 0.5em 0.8em; vertical-align: middle;">Status
            </span>

            <button id="result-status-toggler" class="btn btn-outline-secondary btn-sm"
                    th:disabled="${resultStatus}" th:data-id="${committee.committeeId}"
                    onclick="markResultPublished(this)" style="font-size: 0.7rem; margin-left: 5px;">
                Mark as Published
            </button>
        </div>

    </div>

    <div class="actions row g-4" id="actions">
        <div id="div-assign-qes" class="col-12 col-md-6">
            <div class="action-box shadow">
                <span style="display: inline-block; text-align: center; font-weight: bold; background-color: rebeccapurple; color: white; width: 100%; padding: 10px; margin-bottom: 10px;">Assign Question Setter & Evaluator</span>
                <form id="assign-qse" class="px-2 pb-2 shadow h-100" th:onsubmit="|assignQuesSetter(event, ${committee.committeeId})|">
                <div class="px-2">
                    <label for="course" class="form-label fw-bold">Course</label>
                    <select id="course" class="drop-menu form-select mb-2" required>
                        <option value="">-- Select Course --</option>
                        <option th:each="course : ${committeeCourses}" th:value="${course.id}" th:text="${course.courseName}"></option>
                    </select>

                    <label for="internal" class="form-label fw-bold">Internal Teacher</label>
                    <select id="internal" class="drop-menu form-select mb-2" required>
                        <option value="">-- Select Internal --</option>
                        <option th:each="internal : ${internals}" th:value="${internal.userId}" th:text="${internal.name}"></option>
                    </select>

                    <label for="external" class="form-label fw-bold">External Teacher</label>
                    <select id="external" class="drop-menu form-select" required>
                        <option value="">-- Select External --</option>
                        <option th:each="external : ${externals}" th:value="${external.userId}" th:text="${external.name}"></option>
                    </select>

                    <div class="d-grid gap-2 d-flex justify-content-center mt-3">
                        <button type="submit" id="assign-btn" class="btn btn-outline-primary px-5 w-50">Assign</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="action-box shadow">
                <span style="display: block; text-align: center; font-weight: bold; background-color: rebeccapurple; color: white; width: 100%; padding: 10px; margin-bottom: 15px;">Assign Third Examiner</span>
                <form class="px-3" th:onsubmit="|assignThirdExaminer(event, ${committee.committeeId})|">
                    <label for="course2" class="form-label fw-bold">Course</label>
                    <select id="course2" class="form-select mb-2">
                        <option value="">-- Select Course --</option>
                        <option th:each="course : ${committeeCourses}" th:value="${course.id}" th:text="${course.courseName}"></option>
                    </select>

                    <label for="examiner" class="form-label fw-bold">Examiner</label>
                    <select id="examiner" class="form-select mb-2">
                        <option value="">-- Select Examiner --</option>
                        <option th:each="i : ${internals}" th:value="${i.userId}" th:text="${i.name}"></option>
                    </select>

                    <label for="studentsId" class="form-label fw-bold">Students ID</label>
                    <input id="studentsId" class="form-control mb-3" type="text" placeholder="Enter IDs separated by comma. e.g: IT22016, IT22002" required>

                    <div class="d-flex justify-content-center">
                        <button type="submit" id="third-examiner-btn" class="btn btn-outline-primary w-50">Assign</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="action-box shadow">
                <span style="display: block; text-align: center; font-weight: bold; background-color: rebeccapurple; color: white; width: 100%; padding: 10px; margin-bottom: 15px;">Question Moderation</span>
                <div class="px-3">
                    <label for="meeting-date" class="form-label fw-bold">Select Meeting Time</label>
                    <input type="datetime-local" id="meeting-date" class="form-control mb-4" required>

                    <div class="d-flex justify-content-center gap-2" style="margin-bottom: 20px">
                        <span id="mod-status" class="badge" th:text="${moderationStatus} ? 'Moderation Completed' : 'Not Moderated'" th:classappend="${moderationStatus} ? ' bg-success' : ' bg-warning text-dark'" style="font-size: 0.85rem; padding: 0.5em 0.7em;">Status</span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-primary w-50 mt-4" th:data-id="${committee.committeeId}" onclick="callModeration(this)">Call Meeting</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="action-box shadow">
                <span style="display: block; text-align: center; font-weight: bold; background-color: rebeccapurple; color: white; width: 100%; padding: 10px; margin-bottom: 15px;">Number of Scripts</span>
                <div class="px-3">
                    <label for="course3" class="form-label fw-bold">Course</label>
                    <select id="course3" class="form-select mb-2" required>
                        <option value="">-- Select Course --</option>
                        <option th:each="course: ${committeeCourses}" th:text="${course.courseName}" th:value="${course.id}">Course Name</option>
                    </select>

                    <label for="examinee" class="form-label fw-bold">Examinee</label>
                    <input type="number" id="examinee" class="form-control mb-3" placeholder="Number of examinee e.g: 54" required>
                    <div class="d-flex justify-content-center">
                        <button type="button" id="examinee-btn" class="btn btn-outline-primary w-50" th:data-id="${committee.committeeId}" onclick="updateExamineeCount(this)">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="thesis-project" th:unless="${thesisOrProjectCourses.isEmpty()}" class="d-flex flex-column justify-content-center align-items-center my-5 mx-auto gap-2 shadow" style="max-width: 1300px">
    <div class="d-flex justify-content-center py-2 w-100 text-white" style="background-color: rebeccapurple">
        <h3>Assign Supervisors : Thesis or Project</h3>
    </div>

    <form id="thesis-project-evaluation-form" class="w-100 p-5" th:data-committee-id="${committeeId}" onsubmit="assignSupervisors(event)">
        <div class="d-flex justify-content-between gap-3 align-items-center mb-5">
            <div class="d-flex gap-2 w-auto">
                <label for="thesis-course" class="form-label fw-bold">Select Course</label>
                <select id="thesis-course" class="form-select w-auto" required>
                    <option value="">-- Select Project or Thesis Course --</option>
                    <option th:each="course : ${thesisOrProjectCourses}" th:text="${course.courseName}" th:value="${course.id}">Course Name</option>
                </select>
            </div>
            <button type="button" id="new-entry-btn" class="btn bg-success text-white btn-sm text-nowrap" onclick="addNewSupervisorRow()">Add New Supervisor</button>
        </div>

        <div id="details-container">
            <div class="d-flex gap-2 my-2 details-row" id="details-row">
                <select id="internal-examiner" class="form-select" required>
                    <option value="">-- Select Internal(Supervisor and Examiner) --</option>
                    <option th:each="internal: ${internals}" th:value="${internal.userId}" th:text="${internal.name}">Teacher Name</option>
                </select>
                <input type="number" id="group" class="form-control" placeholder="Enter number of groups" required>
                <input type="number" id="student" class="form-control" placeholder="Enter number of students" required>
                <button type="button" id="entry-dlt-btn" class="btn bg-danger text-white btn-sm text-nowrap" onclick="deleteSupervisorRow(this)">Delete Supervisor</button>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" id="supervisors-submit-btn" class="btn btn-outline-primary btn-sm mt-5 mb-3">Assign Supervisors</button>
        </div>

    </form>
</div>

<div id="courses" class="course-table my-5 d-flex justify-content-center align-items-center">
    <table border="1" th:object="${committeeCourses}" id="course-table" class="shadow">
        <thead>
            <td colspan="7" class="fw-bold text-center"> <h2>Courses</h2> </td>
        </thead>
        <thead>
        <th>Course Code</th>
        <th>Course Name </th>
        <th>Credit Hour</th>
        <th>Course Teacher</th>
        <th>Internal Examiner</th>
        <th>External Examiner</th>
        <th>Examinee</th>
        </thead>
        <tr th:each="committeeCourse: ${committeeCourses}">
            <td th:text="${committeeCourse.courseCode}" data-label="Code"></td>
            <td th:text="${committeeCourse.courseName}" data-label="Name"></td>
            <td th:text="${committeeCourse.courseCredit}" data-label="Credit"></td>
            <td th:text="${committeeCourse.courseTeacher?.name ?: 'Not Assigned'}"></td>
            <td th:text="${committeeCourse.internalQuesSetterEvaluator?.name ?: 'Not Assigned'}"></td>
            <td th:text="${committeeCourse.externalQuesSetterEvaluator?.name ?: 'Not Assigned'}"></td>
            <td th:text="${committeeCourse.examineeCount}"></td>
        </tr>
    </table>
</div>


<div id="third-examination" class="course-table my-5 d-flex justify-content-center align-items-center">
    <table border="1" th:if="${thirdExaminationList != null and !thirdExaminationList.isEmpty()}" th:object="${thirdExaminationList}" id="third-examination-table" class="shadow">
        <thead>
            <td colspan="6" class="fw-bold text-center"><h2>Third Examination</h2></td>
        </thead>
        <thead>
        <th>Course Code</th>
        <th>Course Name </th>
        <th>Credit Hour</th>
        <th>Course Teacher</th>
        <th>Third Examiner</th>
        <th>Total Scripts</th>
        </thead>
        <tr th:each="thirdExamination: ${thirdExaminationList}">
            <td th:text="${thirdExamination.course.courseCode}" data-label="Code"></td>
            <td th:text="${thirdExamination.course.courseName}" data-label="Name"></td>
            <td th:text="${thirdExamination.course.courseCredit}" data-label="Credit"></td>
            <td th:text="${thirdExamination.course.courseTeacher?.name ?: 'Not Assigned'}"></td>
            <td th:text="${thirdExamination.examiner?.name ?: 'Not Assigned'}"></td>
            <td th:text="${thirdExamination.scriptsCount}"></td>
        </tr>
    </table>
</div>

<footer class="bg-dark text-white p-4 d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center">
        <p class="mb-0">Dept. of ICT, MBSTU © 2026</p>
    </div>
    <div class="container text-center d-flex flex-row gap-1 justify-content-center">
        <p class="mb-0">Developed by</p>
        <a href="https://www.facebook.com/fahim.ffff" class="text-decoration-none" target="_blank">Montasir Fahim</a>
        <p>ICT'19</p>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="activitiesModal" tabindex="-1" aria-labelledby="activitiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="activitiesModalLabel">Committee Activities</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body w-auto">
              <div class="table-responsive w-auto">
                  <table class="table table-hover mb-2">
                      <thead class="bg-dark">
                      <tr class="bg-dark text-white">
                          <th scope="col" class="text-nowrap">Action</th>
                          <th scope="col" class="text-nowrap">Timestamp</th>
                          <th scope="col">Performed by</th>
                          <th scope="col" class="text-center">Details</th>
                      </tr>
                      </thead>
                      <tbody id="activity-table-body">
                            <tr>
                                <td class="text-nowrap">Question Moderation Meeting Call</td>
                                <td class="text-nowrap">20-01-2026 12:10PM</td>
                                <td>Dr. Badrul Alam Miah</td>
                                <td>Question moderation meeting has been called on 25-01-2026 9:30AM</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center text-danger">This is a demo modal-dialog... will be implemented later</td>
                            </tr>
                      </tbody>
                  </table>
              </div>
            </div>
            <div class="modal-footer mt-5">
                <button type="button" class="btn text-white bg-danger btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/committee.js}"></script>

<script th:inline="javascript">
    var id = /*[[${committeeId}]]*/
    fetch(`/committee/api/${id}`) //api call
        .then(response => {
            if (!response.ok) {
                throw new Error("Failed to fetch courses: " + response.status);
            }
            return response.json();
        })
        .then(committee => {
            console.log(JSON.stringify(committee, null, 2));
            const sem_info = document.getElementById("sem-info");
            const h5 = document.createElement("h5");
            h5.textContent = "Semester: " + committee.semester.semesterParity;
            sem_info.appendChild(h5);

            const h52 = document.createElement("h5");
            h52.textContent = "Session: " + committee.session + " (" + committee.semesterYearName + ")";
            sem_info.appendChild(h52);

            const h53 = document.createElement("h5");
            h53.innerHTML = `Student: ${committee.studentCount}
                 <a href="/committee/update-student/${committee.committeeId}" class="edit-link">
                    <i class="fas fa-edit"></i>
                 </a>`;

            sem_info.appendChild(h53);
            //debugged
            const div = document.getElementById("card");

            const statusContainer = document.createElement("div");
            statusContainer.style.fontSize = "1.25rem";
            statusContainer.textContent = "Committee Status: ";

            const statusBadge = document.createElement("span");
            statusBadge.className = "badge";
            const isDone = committee.isCompleted;
            statusBadge.textContent = isDone ? "Completed" : "Active";
            statusBadge.classList.add(isDone ? "bg-success" : "bg-warning", isDone ? "text-white" : "text-dark");
            statusContainer.appendChild(statusBadge);

            const tbody = document.getElementById("course-table-body");
            const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${committee.externalMember1.name}</td>
                    <td>External</td>
                `;


            const toggleBtn = document.createElement("button");
            toggleBtn.className = "btn btn-outline-secondary btn-sm";
            toggleBtn.textContent = committee.isCompleted ? "Mark as Active" : "Mark as Completed";
            toggleBtn.style.marginLeft = "10px";
            toggleBtn.style.fontSize = "0.7rem";
            toggleBtn.style.verticalAlign = "middle";
            statusContainer.appendChild(toggleBtn);

            toggleBtn.addEventListener('click', () => {
                console.log("committee status button clicked!");
                //Toggle the button text and status
                const newStatus = !committee.isCompleted; //current status
                fetch(`/committee/api/updateStatus/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ isComplete: newStatus }) })
                    .then(response => {
                        if (response.ok) {
                            committee.isCompleted = newStatus;
                            toggleBtn.textContent = newStatus ? "Mark as Active" : "Mark as Completed";
                            statusBadge.textContent = newStatus ? "Completed" : "Active";
                            if (newStatus) {//switch to completed
                                statusBadge.classList.replace("bg-warning", "bg-success");
                                statusBadge.classList.replace("text-dark", "text-white");
                            } else {
                                statusBadge.classList.replace("bg-success", "bg-warning");
                                statusBadge.classList.replace("text-white", "text-dark");
                            }
                            console.log("Status updated successfully!");
                        }
                        else if(response.status === 401){
                            alert("Unauthorized: Please login first.")
                            window.location.href = "/login";
                        }
                        else if(response.status === 403){
                            alert("Forbidden: Only admins or committee chairman have the permission to update committee status.");
                        }
                        else if(response.status === 409){
                            alert("Conflict: Question moderation and/or Result publication is incomplete of this exam committee.");
                        }
                        else{
                            alert("Bad Request: Something went wrong!");
                        }
                    });
                });


            tbody.appendChild(row);
            div.appendChild(statusContainer);
            // div.appendChild(toggleBtn);

        })
        .catch(error => {
            console.error("Error loading courses:", error);
        });
</script>

</body>

</html>
